@media (max-width: 1220px) {
    .checkout__item--input {
        // width: 360px;

    }
}

@media (max-width: 1190px) {
    .header__info--item {
        max-width: 120px;

    }




}

@media (max-width: 1100px) {
    .header__info {
        display: none;

    }

    .banner-section__inner {
        width: 95%;
    }

    .left {
        min-width: 170px;


    }

    .contact__info--text {

        font-size: 13px;

    }

    .contact__info--title {
        font-size: 19px;
        line-height: 24px;
    }

    .checkout__item--input {}


}

@media (max-width: 930px) {

    .navigation__menu--btn,
    .left {
        display: none;
    }


    .navigation__searh {

        margin: 0 20px 0 0;
    }

    .right {
        width: 100%;
        padding-left: 0;

    }



    .banner-section__inner {
        width: 100%;
    }

    .products__title {


        font-size: 26px;
    }

    .footer__btn {
        padding: 5px 10px;


        font-size: 14px;

    }

    .product__wrapeer {

        padding-left: 0px;
    }



    .bascket__inner {
        display: block;
    }


    .bascket__content {
        width: 100%;
    }

    .bascket__form {
        margin-left: 0px;

    }

    .products__item {
        flex-basis: 24%;
    }


}

@media (max-width: 850px) {
    .footer__number {
        font-size: 16px;
    }

    .social-lists {

        margin-bottom: 24px;
    }

    .contact__info--envelop::after {
        display: none;
    }

    .contact__info--items {
        padding-left: 20px;
        position: relative;
    }

    .company__block--text {
        font-size: 25px;

    }

    .product__info {
        display: none;
    }

    .checkout__inner {
        display: block;

        .bascket__form {
            margin-left: 0;
            width: auto;
            margin-bottom: 20px;
        }

    }

    .checkout__items {
        width: auto;
    }


}

@media (max-width: 800px) {
    .footer__top-inner {
        flex-wrap: wrap;
    }

    .footer__top-item~.footer__top-item {

        margin-left: 0px;
    }

    .footer__top-item {

        margin-bottom: 20px;
    }
}

@media (max-width: 750px) {
    .header__top--map.maps {
        display: none;
    }


    .phone {
        margin-right: 0;
    }

    .phone__number {
        // font-size: 23px;
        font-weight: 500;
        margin-bottom: 1px;
    }



    .phone-icon {
        display: none;
    }

    .features__items {
        display: block;
    }

    .features__item+.features__item,
    .contact__item+.contact__item {
        margin-left: 0px;
        margin-top: 10px;
    }

    .features,
    .content,
    .contact,
    .forms {
        margin-bottom: 10px;
    }

    .sale__items {

        flex-wrap: wrap;

    }

    .sale__item--color__blue {
        margin: 0 0 10px 0;
    }

    .sale__item {
        flex-basis: 100%;
    }

    .sale__item--color--green {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .contact__items {
        flex-wrap: wrap;
    }



    .contact__info--title {
        font-size: 15px;
        line-height: 24px;
    }

    .company__banner--items {

        margin-left: 0px;
        padding: 0 10px;
    }

    .company__banner--item~.company__banner--item {

        margin-left: 10px;
    }

    .company__banner--item__title {
        font-size: 25px;
    }




    .checkout__item--sale__title {

        font-size: 16px;
        margin-right: 0px;

    }

    .products__item {
        flex-basis: 32%;
        flex-grow: 0;
    }
}

@media (max-width: 650px) {


    .header__top--wrapper {

        border-bottom: none;

    }




    .header__btn {

        display: none;


    }




    .modal-menu.active {
        left: 0;
    }





    .modal-menu {



        font-size: 16px;


        .phone-icon {
            display: block;
        }


    }

    .menu {
        display: none;
    }



    .modal-menu__lists {
        margin-bottom: 20px;
    }

    .modal-menu__list a {

        font-weight: 500;



        line-height: 25px;
        display: inline-block;



    }

    .modal-menu__phone {

        padding-top: 20px;
        line-height: 18px;

    }

    .modal-menu__phone__number {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .modal-menu__nav {
        margin-bottom: 10px;
        line-height: 30px;
        padding-left: 5px;
    }

    .modal-menu__nav__list {
        border-bottom: 1px solid #ccc;
        position: relative;

        &::after {
            font-family: 'icomoon' !important;
            content: "\ea50";
            position: absolute;
            transform: rotate(90deg);
            top: 3px;
            right: 0px;
            font-weight: 400;
            font-size: 14px;


        }
    }


    .modal-menu__nav__link {}

    .modal-menu__phone__link {
        padding-left: 30px;
        margin-bottom: 10px;

    }







    .header__menu-button__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .header__menu-button {
        width: 47px;
        height: 30px;
        margin-top: 7px;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        // border: 1px solid #ccc;
        border-radius: 2px;
        position: relative;
    }

    .header__menu-button::after {
        content: "";
        width: 25px;
        height: 4px;
        border-radius: 1px;
        position: absolute;
        background-color: #353535;
        top: 5px;
        left: 10px;
        -webkit-box-shadow: 0 8px 0 0 #353535, 0 16px 0 0 #353535;
        box-shadow: 0 8px 0 0 #353535, 0 16px 0 0 #353535;
    }





    .header__logo-min {
        display: block;
    }



    .header__main--inner {

        display: flex;

        justify-content: space-between;

    }

    .header__logo {
        display: none;
    }

    .phone__number {

        font-weight: 700;

    }


    .footer__top {
        padding-top: 20px;
    }

    .sale__banner--title {
        font-size: 25px;
        margin-bottom: 30px;

    }

    .sale__banner {
        padding: 10px;
        height: 200px;
    }


    .contact__info--items {
        display: block;
    }

    .contact__info--item {
        display: block;
        margin-bottom: 10px;
    }

    .company__banner--items {

        display: none;

    }

    .company__banner {
        height: 200px;

    }

    .company__banner--title {
        padding: 32px 32px 0;
        max-width: 500px;
        font-size: 25px;

        margin-bottom: 0px;
    }

    .footer__top-item__nav,
    .footer__top-newslatter.footer__top-item {
        display: none;
    }

    .header__top {

        line-height: 5px;
    }

    .navigation__whatsapp--min {
        display: block;
        width: 135px;
        padding-left: 40px;

        &::after {
            font-size: 23px;
        }

    }

    .navigation__whatsapp {
        display: none;
    }

    .navigation__searh {
        margin: 0;
    }

    .banner-section__slider-img {
        height: 200px;
    }

    .product__title {
        font-size: 26px;
    }

    .product__wrapeer {

        display: block;

        .catalog__btn--bascket {
            width: 50%;


        }



    }

    .product__tabs-item {
        padding: 11px 20px 12px;

    }

    .title-page {

        margin-bottom: 15px;
        font-size: 22px;
    }

    .product__content--inner {
        display: block;
    }

    .product__content--left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .product__content--right {
        width: 100%;
    }



    .catalog__images {
        width: 80%;
        height: 80%;

    }

    .catalog__item--title {

        padding-top: 10px;
        margin-bottom: 10px;

    }


}

@media (max-width: 630px) {
    .products__item {

        flex-basis: 49%;




    }
}


@media (max-width: 550px) {


    .logo-min {
        width: 80%;
        padding-top: 7px;
    }

    .form__content-form {
        display: block;
    }

    .form__input {

        margin-right: 0px;
        margin-bottom: 10px;
    }

    .form__btn {
        line-height: 30px;
        padding: 10px;
        width: 100%;
        font-weight: 500;
        font-size: 18px;
    }

    .company__banner--title {
        padding: 10px;

        font-size: 20px;


    }

    .company__block--text {
        font-size: 20px;
    }

    .footer__top-inner {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footer__number {
        font-size: 22px;
    }

    .footer__mail {
        display: block;
        text-decoration: underline;
        margin-bottom: 25px;
    }

    .product__tabs-item {
        padding: 11px 20px 12px;
        margin-bottom: 5px;
        display: block;
        text-align: center;
    }

    .product__wrapeer {
        margin-bottom: 0;
    }

    .product__inner {
        margin-bottom: 10px;
        padding: 5px;

        .catalog__item {
            margin: 0;
            padding: 0;
        }
    }

    .bascket__content--items {}

    .bascket__content--item {
        display: block;
    }

    .bascket__item--info {
        margin-bottom: 10px;
    }

    .catalog__images {
        width: 60%;
        height: 60%;
    }

    .catalog__item {
        flex-grow: 1;
        flex-basis: 49%;

        &:last-child {
            flex-grow: 0;
            flex-basis: 49%;
        }

    }

    .catalog-lists__inner {
        .catalog__btn--inner {
            display: none;
        }
    }




    .catalog__btn--bascket {
        margin-left: 0;
        padding: 10px;
    }

    .catalog__btn--box {
        margin-bottom: 10px;

    }
}

@media (max-width: 450px) {



    .phone__number {

        font-weight: 500;

    }

    .searc__content-input {
        font-size: 14px;
    }

    .products__item {
        // flex-basis: 75px;

        margin-right: 0;
    }

    .products__title {
        font-size: 20px;
    }

    .header {
        margin-bottom: 0;
    }

    .container {
        padding: 0 10px;
    }

    .footer__top-newslatter.footer__top-item {
        width: auto;
        margin-right: 0px;
    }



    .products__item--title {
        padding-top: 35px;
        margin-bottom: 0px;
        font-size: 16px;

    }

    .banner-section__slider-img {
        height: 170px;
    }

    .footer__btn {
        padding: 10px 10px;
        font-size: 18px;
    }



    .title-page {

        margin-bottom: 15px;
        font-size: 18px;
    }

    .catalog__item {
        flex-grow: 1;
        flex-basis: 39%;


    }

    .modal-menu__inner {
        // height: 80vh;
    }
}

@media (max-width: 435px) {
    .products__images {
        width: 110px;
        height: 110px;

    }






}

@media (max-width: 410px) {
    .phone__number {

        font-size: 22px;

    }

    .logo-min {
        width: 70%;
        margin-left: 20px;
        margin-top: 5px;
    }

    .products {
        padding-top: 0;
    }

    .footer__top-item~.footer__top-item {
        flex-basis: 200px;

    }

    .company__block--text {
        font-size: 16px;
    }



    .product__title {
        font-size: 23px;

    }

    .product__img {
        width: 90%;
        height: 90%;
    }
}



@media (max-width: 360px) {
    .phone__number {

        font-size: 18px;
        margin-bottom: 5px;
    }

    .header__bascket {

        width: 140px;
        height: 51px;

    }

    .bascket__logo::after {

        font-size: 23px;
    }

    .navigation__whatsapp {
        width: 140px;
        // display: none;
    }





    .container {
        padding: 0px 5px;
    }
}

@media (max-width: 340px) {}

@media (max-width: 328px) {}