@import "global";
@import "vars";
@import "slick";
@import "fonts";

.header {}



.header__top {
    display: flex;
    justify-content: space-between;
}

.header__top--map {}

.maps {}

.header__top--item {}

.menu {
    display: flex;
    justify-content: space-between;
}
.menu__list+.menu__list {
    margin-left: 20px;
} 

.menu__list {}

.menu__link {}

.header__btn {}

.btn {}
@import "media";