@import "global";
@import "vars";
@import "slick";
@import "fonts";

.header {
    margin-bottom: 20px;

    &__btn {
        padding: 0 15px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        line-height: 28px;
    }

    &__top--wrapper {
        border-bottom: 1px solid #e3e3e3;
        margin-bottom: 10px;
    }

}

.time {
    padding-left: 20px;
    position: relative;
    margin-top: 20px;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e952";
        position: absolute;
        top: 0;
        left: 0;

    }
}

.maps {
    padding-left: 20px;
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e947";
        position: absolute;
        top: 0;
        left: 0;

    }
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__list+.menu__list {
    margin-left: 20px;
}





//end header top



.header__main--inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header__logo {
    padding-top: 5px
}


.header__info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header__info--item {
    max-width: 150px;

    display: flex;

}


.sprite-car {
    background-image: url(../images/sprite.png);
    background-position: -181px -296px;
    width: 51px;
    height: 32px;
}

.header__info--text {
    padding-left: 5px;
}

.sprite-users {
    background-image: url(../images/sprite.png);
    background-position: 0 -376px;
    width: 35px;
    height: 34px;
}

.sprite-like {
    background-image: url(../images/sprite.png);
    background-position: -65px -376px;
    width: 34px;
    height: 34px;
}

.phone {
    margin-right: 15px;

    &__number {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 3px;


    }

    &-icon {
        position: relative;


        &::after {
            font-family: 'icomoon' !important;
            content: "\e958";
            position: absolute;
            top: 0;
            left: 2px;


        }
    }

    &__link {
        color: #03a9f4;
        padding-right: 11px;
        padding-left: 18px;

    }


}

.mail-icon {
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e945";
        position: absolute;
        top: 0;
        left: 2px;


    }
}



.header__bascket {
    border: 1px solid #ccc;
    width: 145px;
    height: 50px;
    display: flex;
    color: #03a9f4;

}

.bascket__logo {
    border-right: 1px solid #ccc;
    width: 50px;
    height: 50px;
    position: relative;


    border-radius: 4px;
    transition: all 0.3s;



    &:hover,
    &:focus {
        transition: all 0.3s;
        color: #fff;
        background-color: #03a9f4;

    }

    &::after {
        font-family: 'icomoon' !important;
        content: "\e93a";
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 22px;

    }
}

.bascket__resault {
    padding: 10px;
}



.bascket__volume--number,
.bascket__quantity--number {
    color: #000;
}



//end header main



.navigation__inner {
    display: flex;
    justify-content: space-between;
}

.navigation__menu--btn {
    background-color: #DA1D23;
    padding: 0 25px;
    width: 200px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e9bd";
        position: absolute;
        top: 9px;
        right: 12px;

        font-size: 20px;

    }
}

.navigation__searh {
    border: 1px solid #ccc;
}



.navigation__whatsapp {
    font-size: 18px;
    line-height: 41px;
    padding-left: 53px;
    padding-right: 10px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    background-color: #03f473;


    &::after {
        font-family: 'icomoon' !important;
        content: "\ea93";
        position: absolute;
        top: 0;
        left: 9px;
        font-size: 26px;

    }

    &:hover,
    &:focus {
        transition: all 0.3s;
        background-color: #fff;
        color: #000;


    }
}


.searc__content-form {
    display: flex;
}



.searc__content-input {

    background-color: #fff;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    line-height: 30px;
    width: 770px;
    outline: none;

    &::placeholder {
        color: #656464;

    }
}

.searc__content-btn {

    background-color: #fff;
    width: 40px;
    height: 40px;
    position: relative;


    &::after {
        font-family: 'icomoon' !important;
        content: "\e986";
        position: absolute;

        top: 13px;
        left: 3px;

        font-size: 16px;

    }
}

//end header button

.main__inner {
    display: flex;
    justify-content: space-between;
}

.banner {
    &-section__inner {
        margin-bottom: 10px;
    }



    &-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        cursor: pointer;
    }

    &-arrow__nex {
        right: 20px;

    }

    &-arrow__prev {
        left: 20px;
    }


}


.left {
    width: 200px;

    margin-top: 14px;

    font-size: 14px;
    font-weight: 500;
}


.nav__list {
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.3s;
    background-color: #fff;
    border-bottom: none;

    &:last-child {
        border-bottom: 1px solid #ccc;
    }

    &:hover,
    &:focus {
        border-color: #F5BFBA;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        -moz-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        z-index: 3;
        transition: all 0.3s;
    }

    &::after {
        font-family: 'icomoon' !important;
        content: "\ea50";
        position: absolute;
        transform: rotate(90deg);
        top: 13px;
        right: 10px;
        font-weight: 400;
        font-size: 14px;




    }
}


.right {
    width: 1000px;
    padding-left: 20px;
}





// end slider banner

.products {
    padding-top: 10px;
    margin-bottom: 25px;

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        background-color: #fff;
        margin: 2px 0;
        text-align: center;
        padding: 10px;
        transition: all 0.3s;

        &:hover,
        &:focus {
            border-color: #F5BFBA;
            -webkit-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
            -moz-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
            box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
            z-index: 3;
            transition: all 0.3s;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 36px;
    }

    &__item--title {
        padding-top: 10px;
        margin-bottom: 15px;
        font-size: 17px;
        font-weight: 500;

    }
}

// end products block
.features,
.content,
.contact,
.forms {
    margin-bottom: 25px;
}

.features__items,
.contact__info--items {
    display: flex;
    justify-content: space-between;

}

.features__item+.features__item,
.contact__item+.contact__item {
    margin-left: 20px;
}

.features__item,
.delivery__item,
.pay__peples,
.pay__companys,
.contact__item,
.contact__info,
.content,
.forms {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: all 0.3s;
    width: 100%;

    &:hover,
    &:focus {
        border-color: #F5BFBA;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        -moz-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        z-index: 3;
        transition: all 0.3s;
    }



}

.title {
    margin-bottom: 10px;
    font-size: 16px;
}

.text {
    margin-bottom: 10px;
    // font-size: 18px;
    letter-spacing: 0.3px;
}

.features__item--link {

    // font-size: 18px;
    color: #03a9f4;
}

// end features block

// end .content block
.forms {
    margin-bottom: 25px;
}


.form__content-form {
    display: flex;
}

.form__input {
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 20px;
    // border: none;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    outline: none;
    margin-right: 25px;

    &::placeholder {
        color: #656464;

    }
}

.form__btn {
    background-color: #DA1D23;
    padding: 0 25px;
    width: 400px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

// end .form block
.footer__top-newslatter.footer__top-item {
    width: 295px;
    margin-right: 50px;
}


.footer {
    background: #28302E;
    color: #fff;

    &__bottom {
        padding: 46px 0 22px;


    }

    &__btn {
        padding: 10px 25px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 16px;
        border: 1px solid #fff;
        transition: all 0.3s;

        &:hover,
        &:focus {
            transition: all 0.3s;
            color: #000;
            background-color: #fff;

        }
    }

    &__bottom-copy {
        font-size: 10px;
        line-height: 12px;

        margin-bottom: 5px;

        &:last-child {
            margin-top: 20px;
        }
    }

    &__top-title {
        font-weight: 700;

        font-size: 14px;
        line-height: 16px;
        color: #faa72b;
    }

    &__top {
        padding-top: 43px;
    }

    &__top-inner {
        display: flex;
        justify-content: space-between;
    }







    &__top-item {
        width: 250px;
    }

    &-list {
        font-size: 14px;
        line-height: 22px;
    }

    &__number {
        font-size: 22px;
    }

    &__mail {
        display: block;
        text-decoration: underline;
        margin-bottom: 25px;
    }


}

.footer__top--list {
    margin-bottom: 10px;
}


.social-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;


}

.social-link {
    position: relative;
    font-weight: 400;
    font-size: 15px;
    transition: all 0.3s;
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 15px;


    &:hover,
    &:focus {
        transition: all 0.3s;
        color: #000;
        background-color: #fff;

    }
}


.link-inst {
    &::after {
        font-family: 'icomoon' !important;
        content: "\ea92";
        position: absolute;

        top: 8px;
        left: 8px;


    }
}


.link-fb {
    &::after {
        font-family: 'icomoon' !important;
        content: "\ea90";
        position: absolute;

        top: 8px;
        left: 8px;


    }
}

.link-vk {
    &::after {
        font-family: 'icomoon' !important;
        content: "\ea98";
        position: absolute;
        top: 8px;
        left: 8px;


    }
}

.link-youtube {
    &::after {
        font-family: 'icomoon' !important;

        position: absolute;
        content: "\ea90";
        top: 8px;
        left: 8px;


    }
}


// end .footer block
.title-page {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 36px;
}


.contact__items {
    display: flex;
    justify-content: space-between;
}

.contact__item {
    padding-left: 75px;
    position: relative;

}

.contact__item--phone {
    &::after {

        content: '';
        position: absolute;
        background-image: url(../images/sprite.png);
        background-position: -129px -376px;
        width: 34px;
        height: 34px;
        top: 30px;
        left: 25px;

    }
}

.contact__item--mail {




    &::after {

        content: '';
        position: absolute;
        background-image: url(../images/sprite.png);
        background-position: -338px -296px;
        width: 35px;
        height: 26px;
        top: 35px;
        left: 25px;

    }

}

.contact__item--title {
    font-size: 25px;
    line-height: 30px;
}



// end contact block
.contact__info {
    margin-bottom: 20px;
}

.contact__info--items {
    padding-left: 150px;
    position: relative;
}

.contact__info--item {
    letter-spacing: 0.1em;
}

.contact__info--title {
    font-size: 22px;
    line-height: 24px;
}

.contact__info--text {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.contact__info--envelop {
    &::after {

        content: '';
        position: absolute;
        background-image: url(../images/sprite.png);
        background-position: -192px -376px;
        width: 34px;
        height: 34px;
        top: 20px;
        left: 25px;

    }
}

.map {
    margin-bottom: 20px;
}

// end contact info block





.delivery__item {
    margin-bottom: 20px;
    padding: 0;
    position: relative;
}

.delivery__item--car {
    &::after {

        content: '';
        position: absolute;
        background-image: url(../images/sprite.png);
        background-position: -181px -296px;
        width: 51px;
        height: 32px;
        top: 10px;
        left: 20px;

    }

    .delivery__item--list {
        border-bottom: 1px solid #ccc;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;

        &:last-child {
            border: none;
        }
    }

}

.delivery__item--inner {
    border-bottom: 1px solid #ccc;
    padding: 15px 20px 15px 100px;
    display: flex;
    justify-content: space-between;

    .delivery__item--sale {
        display: block;
    }
}



.delivery__item--sale {
    display: block;
}




.delivery__item--user {
    .delivery__item--title {
        border-bottom: 1px solid #ccc;
        padding: 25px 20px 25px 100px;
    }

    .delivery__item--list {
        padding: 10px 20px;
    }

    &::after {

        content: '';
        position: absolute;
        background-image: url(../images/sprite.png);
        background-position: -417px -163px;
        width: 35px;
        height: 58px;
        top: 10px;
        left: 20px;

    }
}

.delivery__item--basket {


    .delivery__item--title {
        border-bottom: 1px solid #ccc;
        padding: 15px 20px 15px 100px;
    }

    .delivery__item--lists {
        padding: 5px 0 10px 60px;

    }

    .delivery__item--list {

        list-style: outside;
    }

    &::after {

        content: '';
        position: absolute;
        background-image: url(../images/sprite.png);
        background-position: -495px -252px;
        width: 29px;
        height: 35px;
        top: 10px;
        left: 20px;

    }
}

.delivery__item--text {
    padding: 10px 0 0 20px;
}

// end delivery block

.company__banner,
.sale__banner {
    background-repeat: no-repeat;
    height: 408px;
    margin-bottom: 20px;
    transition: all 0.3s;


    &:hover,
    &:focus {
        border-color: #F5BFBA;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        -moz-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        z-index: 3;
        transition: all 0.3s;
    }
}

.company__banner {
    background-image: url(../images/content/company-banner.jpg);
}


.company__banner--title {
    padding: 32px 32px 0;
    max-width: 700px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 120px;
}



.company__banner--items {
    display: flex;
    margin-left: 32px;

}

.company__banner--item {
    display: flex;
    // width: 25%;
}

.company__banner--img {
    margin-right: 20px;
    margin-top: 20px;
}


.company__banner--item__inner {
    width: 190px;
}

.company__banner--item__title {
    font-size: 30px;
}

.company__block--text {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;

    text-align: center;

    display: block;
}


// end company__banner block
.company__info {
    margin-bottom: 20px;
}

.company__info--items {
    display: flex;
    justify-content: space-between;
}

.company__info--item {
    background-color: #f5f3f4;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 600px;
    width: 390px;
    padding: 10px 20px;


    transition: all 0.3s;


    &:hover,
    &:focus {
        border-color: #F5BFBA;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        -moz-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        z-index: 3;
        transition: all 0.3s;
    }
}

.company__info--product {
    background-repeat: no-repeat;
    background-image: url(../images/content/company-product.jpg);
}

.company__info--item__title {
    margin-top: 350px;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 24px;
}

.company__info--item__text {
    margin-bottom: 20px;
}

.company__info--user {
    background-repeat: no-repeat;
    background-image: url(../images/content/company-users.jpg);
}

.company__info--cart {
    background-repeat: no-repeat;
    background-image: url(../images/content/company-cart.jpg);
}

// end company__info block
.pay__peples {
    margin-bottom: 20px;
}

.pay__peples--tile {
    line-height: 1em;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
}



.pay__items {
    display: flex;
    flex-wrap: wrap;

}

.pay__item {
    max-width: 350px;
    margin-bottom: 20px;
    padding: 5px;
    margin-right: 20px;
}




.pay__item--inner {
    display: flex;
    margin-bottom: 20px;
}

.pay__item--title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.pay__item--subtitle {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
}



.pay__item--img {
    width: 60px;
    height: 60px;
    margin-right: 25px;
}

.pay__companys {
    margin-bottom: 20px;
}

// end pay block
.sale__banner {
    background-image: url('../images/content/sale-banner.jpg');
    padding: 30px;
}

.sale__banner--title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.sale__banner--text {
    max-width: 500px;
}

.sale__info {}

.sale__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sale__item {
    width: 595px;
    color: #fff;
    padding: 20px;
}

.sale__item--color__blue {
    background-color: #2DABDF;
    margin: 0 10px 10px 0;
}

.sale__item--color--orange {
    background-color: #F7AA3D;
    margin-bottom: 10px;
}

.sale__item--color--green {
    background-color: #09A569;
    margin-right: 10px;
}

.sale__item--color--red {
    background-color: #E64449;
}

.sale__item--title,
.sale__footnote--title {
    margin-bottom: 10px;
    font-size: 18px;
}

.sale__item--text {}

.sale__footnote {
    background-color: #F8F8F8;
    padding: 10px;
    margin-bottom: 20px;
}



.sale__footnote--items {}

.sale__footnote--item {
    margin-left: 20px;
    list-style: square;
}

// end sale block
.bascket__title {}

.title-page {}

.bascket__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bascket__content {
    width: 850px;

}

.bascket__content--items {}

.bascket__content--item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    transition: all 0.3s;
    margin-bottom: 20px;



    &:hover,
    &:focus {
        border-color: #F5BFBA;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        -moz-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        z-index: 3;
        transition: all 0.3s;
    }

}

.bascket__item--info {
    display: flex;

}

.bascket__item--info__img {}

.bascket__item--info__box {
    margin-left: 20px;
}

.bascket__item--info__title {
    margin-bottom: 5px;
    font-size: 16px;
}

.bascket__item--info__subtitle {}

.bascket__item--buttons {
    display: flex;

}

.bascket__item--buttons__box {
    margin-right: 25px;
    display: flex;
    height: 25px;
}

.bascket__item--buttons__btn {
    border: 1px solid #333;
    width: 15px;
    display: block;

}

.bascket__item--buttons__input {
    width: 100px;
    text-align: center;
}

.buttons__btn--minus {
    border-right: none;
}

.buttons__btn--plas {
    border-left: none;
}

.bascket__item--buttons__resault {
    margin-right: 25px;
    padding-top: 5px;
}

.bascket__item--buttons__dalate--close {
    position: absolute;
    right: 15px;
    top: -1px;
    width: 10px;
    height: 10px;

}



.bascket__item--buttons__dalate--close:before,
.bascket__item--buttons__dalate--close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: red;
}

.bascket__item--buttons__dalate--close:before {
    transform: rotate(45deg);
}

.bascket__item--buttons__dalate--close:after {
    transform: rotate(-45deg);
}

.bascket__item--buttons__dalate--inner {
    border: 1px solid red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s;

    &:hover {
        opacity: 1;
    }

}


.bascket__item--buttons__dalate {}


.bascket__form {
    width: 320px;

    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    transition: all 0.3s;


    &:hover,
    &:focus {
        border-color: #F5BFBA;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        -moz-box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        box-shadow: 0px 2px 10px 0px rgba(33, 33, 33, 0.2);
        z-index: 3;
        transition: all 0.3s;
    }
}

.bascket__form--box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 20px;
}


.bascket__form--name {}

.bascket__form--sale {
    display: block;

}

.bascket__form--title {}

.bascket__form--wrapper {
    padding-top: 5px;
    margin-bottom: 20px;
    display: flex;

    height: 35px;
}

.bascket__form--input {
    width: 250px;
}

.bascket__form--btn__input {
    border: 1px solid #000;
    border-left: none;
    display: block;
    padding: 5px;
}

.bascket__form--buttons {
    display: block;
    text-align: center;
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

.bascket__form--buttons__checkout {
    background-color: rgb(55, 171, 238);
    color: #fff;
    transition: all 0.3s;

    &:hover,
    &:focus {
        background-color: red;

    }

}

.bascket__form--buttons__next {

    &:hover,
    &:focus {
        background-color: red;
        background-color: #ccc;

    }
}

// end bascket block


@import "media";