@import "global";
@import "vars";
@import "slick";
@import "fonts";

.header {
    margin-bottom: 45px;

    &__btn {
        padding: 0 15px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        line-height: 28px;
    }

    &__top--wrapper {
        border-bottom: 1px solid #e3e3e3;
        margin-bottom: 10px;
    }

}


.maps {
    padding-left: 20px;
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e947";
        position: absolute;
        top: 0;
        left: 0;
        color: #000;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__list+.menu__list {
    margin-left: 20px;
}





//end header top



.header__main--inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logo {
    padding-top: 5px
}


.header__info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header__info--item {
    max-width: 150px;

    display: flex;

}


.sprite-car {
    background-image: url(../images/sprite.png);
    background-position: -181px -296px;
    width: 51px;
    height: 32px;
}

.header__info--text {
    padding-left: 5px;
}

.sprite-users {
    background-image: url(../images/sprite.png);
    background-position: 0 -376px;
    width: 35px;
    height: 34px;
}

.sprite-like {
    background-image: url(../images/sprite.png);
    background-position: -65px -376px;
    width: 34px;
    height: 34px;
}

.phone {
    margin-right: 15px;

    &__number {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 3px;


    }

    &-icon {
        position: relative;


        &::after {
            font-family: 'icomoon' !important;
            content: "\e958";
            position: absolute;
            top: 0;
            left: 2px;


        }
    }

    &__link {
        color: #03a9f4;
        padding-right: 11px;
        padding-left: 18px;

    }


}

.mail-icon {
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e945";
        position: absolute;
        top: 0;
        left: 2px;


    }
}



.header__bascket {
    border: 1px solid #ccc;
    width: 145px;
    height: 50px;
    display: flex;
    color: #03a9f4;

}

.bascket__logo {
    border-right: 1px solid #ccc;
    width: 50px;
    height: 50px;
    position: relative;


    border-radius: 4px;
    transition: all 0.3s;



    &:hover,
    &:focus {
        transition: all 0.3s;
        color: #fff;
        background-color: #03a9f4;

    }

    &::after {
        font-family: 'icomoon' !important;
        content: "\e93a";
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 22px;

    }
}

.bascket__resault {
    padding: 10px;
}



.bascket__volume--number,
.bascket__quantity--number {
    color: #000;
}



//end header main



.navigation__inner {
    display: flex;
    justify-content: space-between;
}

.navigation__menu--btn {
    background-color: #DA1D23;
    padding: 0 25px;
    width: 200px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e9bd";
        position: absolute;
        top: 9px;
        right: 12px;

        font-size: 20px;

    }
}

.navigation__searh {
    border: 1px solid #ccc;
}



.navigation__whatsapp {
    font-size: 18px;
    line-height: 41px;
    padding-left: 53px;
    padding-right: 10px;
    position: relative;
    font-weight: 500;
    cursor: pointer;


    &::after {
        font-family: 'icomoon' !important;
        content: "\ea93";
        position: absolute;
        top: 0;
        left: 9px;
        font-size: 26px;

    }
}


.searc__content-form {
    display: flex;
}

.searc__content-input {

    background-color: #fff;
    border-radius: 3px;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    line-height: 30px;
    width: 770px;
    outline: none;

    &::placeholder {
        color: #656464;

    }
}

.searc__content-btn {

    background-color: #fff;
    width: 40px;
    height: 40px;
    position: relative;


    &::after {
        font-family: 'icomoon' !important;
        content: "\e986";
        position: absolute;

        top: 13px;
        left: 3px;

        font-size: 16px;

    }
}

//end header button

.main__inner {
    display: flex;
    justify-content: space-between;
}

.banner {
    &-section__inner {}



    &-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        cursor: pointer;
    }

    &-arrow__nex {
        right: 20px;

    }

    &-arrow__prev {
        left: 20px;
    }


}


.left {
    width: 200px;

    margin-top: 14px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: 500;
}


.nav__list {
    padding: 10px 20px;
    position: relative;
    cursor: pointer;

    &::after {
        font-family: 'icomoon' !important;
        content: "\ea50";
        position: absolute;
        transform: rotate(90deg);
        top: 13px;
        right: 10px;
        font-weight: 400;
        font-size: 14px;




    }
}


.right {
    width: 1000px;
    padding-left: 20px;
}





// end slider banner

@import "media";